@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --flip-height: 100px;
  --flip-width: calc(var(--flip-height) * 0.6);
  --line-height: calc(var(--flip-height) * 0.5);
  --flip-container-color: #353531;
  --flip-color: #353531;
  --flip-text-color: #efefef;
  --flip-border-radius: calc(var(--flip-height) * 0.05);
  --animation-time: 0.8s;
  --animation-ease: linear;
  --perspective: 200px;
}

body {
  font-family: Helvetica_Med !important;
}

.font-bolder {
  font-family: Helvetica_Bolder !important;
}

.font-bold {
  font-family: Helvetica_Bold !important;
}

.font-med {
  font-family: Helvetica_Med !important;
}

.font-thin {
  font-family: Helvetica_Thin !important;
  font-weight: 600 !important;
}

.primary-bg {
  background-color: #3196c4 !important;
}

.timer {
  height:80px;
  width: 80px;
  border: 5px solid #1f5d7a;
  border-radius: 50%;
  top: 50px;
}

/**
timer
**/
.circular{
  height: 100px;
  width: 100px;
  position: relative;
  top: 50px;
}
.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin: -30px 0 0 -30px;
  background: #dde6f0;
  border-radius: 100%;
 
}
.circular .number, .circular .countdown{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  border: 0;
  width: 60px;
  background: transparent;
  color: white;
  caret-color: white;
  text-align: center;
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #1f5d7a;
}
.circle .left .progress{
  z-index:1;
}

@keyframes left{
  100%{
    transform: rotate(180deg);
  }
}

.circle .right {
  transform: rotate(180deg);
  z-index:3;
 
}

@keyframes right{
  100%{
    transform: rotate(180deg);
  }
}
/**end timer**/

#tagline {
  cursor: default;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.slot > .emoji {
  height: 80px;
}
.slot > .emoji img {
  width: 80px;
  height: 80px;
}
.slots.loop > .slot .emoji {
  -webkit-animation: slide 1s infinite linear;
  -moz-animation: slide 1s infinite linear;
  animation: slide 1s infinite linear;
}
.stop > .slot > .emoji {
  top: -80px;
  -webkit-animation: stop 0.5s normal forwards ease-in-out;
  -moz-animation: stop 0.5s normal forwards ease-in-out;
  animation: stop 0.5s normal linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  100% {
    top: -1600px;
  }
}

@-webkit-keyframes stop {
  0% {
    top: -160px;
  }
  100% {
    top: -80px;
  }
}

.signup-container .modal-content {
  background-color: #f1ae1e;
  border-radius: 40px;
}

.signup-container .modal-content.thank-you {
  background-color: #3196c4 !important;
  border: none;
}

.signup-container .modal-content.thank-you .form-container img {
  width: 130px;
}

.signup-container input {
  border-radius: 10px;
}

.btn-primary {
  background-color: #3196c4 !important;
  border-color: #3196c4 !important;
  opacity: 0.8;
}
.btn-primary:hover {
  background-color: #3cabdd  !important;
}

.btn-warning {
  background-color: #f1ae1e !important;
  border-color: #f1ae1e !important;
  opacity: 0.8;
}
.btn-warning:hover {
  background-color: #f3b93e !important;
}

.btn-danger {
  background-color: #d82027 !important;
  border-color: #d82027 !important;
  opacity: 0.8;
}
.btn-danger:hover {
  background-color: #e53a41 !important;
}

.smaller {
  font-size: 10px;
}

.wrapper {
  height: 100vh;
}

.header img {
  width: 500px;
}

.header .form-check-input:checked {
  background-color: #3196c4 !important;
  border-color: #3196c4 !important;
}

.footer img {
  width: 155px;
}

.button-container button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.reset-timer {
  cursor: pointer;
}

.btn-container {
  width: 300px;
  left: 30px;
}

.reset-btns {
  margin-left: -25px;
}

.reset-btns i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  cursor: pointer;
}